In [85]:
import pandas as pd 
import numpy as np
import nltk

In [86]:
credits_df = pd.read_csv(r"tmdb_5000_credits.csv")
movies_df = pd.read_csv(r'tmdb_5000_movies1.csv')

missing row
1-->homepage
2-->release
3-->runtime
4-->tagline

In [87]:
movies =movies_df.merge(credits_df,on="title")
movies.sample(3)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
3503,0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 35, ""nam...",NaN,35944,[],en,Lucky Break,Half-way through his 12-year prison sentence f...,0.669169,[],...,107.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,Lucky Break,6.5,11,35944,"[{""cast_id"": 1, ""character"": ""James 'Jimmy' Ha...","[{""credit_id"": ""578d08adc3a3686efa002328"", ""de..."
2952,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,9027,"[{""id"": 572, ""name"": ""sex""}, {""id"": 958, ""name...",en,The Guru,Bored with Bollywood movies but fascinated wit...,4.093288,"[{""name"": ""Universal Pictures"", ""id"": 33}, {""n...",...,91.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,"When he talks, women listen.",The Guru,5.1,75,9027,"[{""cast_id"": 1, ""character"": ""Ramu Gupta"", ""cr...","[{""credit_id"": ""52fe44d3c3a36847f80ac3cd"", ""de..."
3249,0,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 9648, ""n...",NaN,10885,"[{""id"": 233, ""name"": ""japan""}, {""id"": 236, ""na...",en,Shutter,"A newly married couple discovers disturbing, g...",8.864368,"[{""name"": ""Regency Enterprises"", ""id"": 508}, {...",...,85.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,The most terrifying images are the ones that a...,Shutter,5.3,180,10885,"[{""cast_id"": 3, ""character"": ""Benjamin Shaw"", ...","[{""credit_id"": ""52fe43c99251416c7501e31b"", ""de..."

In [88]:
movies[movies.popularity.sort_values(ascending=False) > 434]['original_title']

C:\Users\sachi\AppData\Local\Temp\ipykernel_21008\3742491105.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  movies[movies.popularity.sort_values(ascending=False) > 434]['original_title']

94     Guardians of the Galaxy
95                Interstellar
127         Mad Max: Fury Road
546                    Minions
788                   Deadpool
Name: original_title, dtype: object

# important colum for project
#genre
#keywords
#overview
#title
#cast
#crew

In [89]:
movies = movies[['id','title','genres','overview','keywords','cast','crew']]
movies.sample(3)

,id,title,genres,overview,keywords,cast,crew
3365,12573,A Serious Man,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",A Serious Man is the story of an ordinary man'...,"[{""id"": 1992, ""name"": ""professor""}, {""id"": 101...","[{""cast_id"": 1, ""character"": ""Larry Gopnik"", ""...","[{""credit_id"": ""52fe44fd9251416c75047ed1"", ""de..."
409,16858,All That Jazz,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10402, ""n...",Bob Fosse's semi-autobiographical film celebra...,"[{""id"": 837, ""name"": ""show business""}, {""id"": ...","[{""cast_id"": 2, ""character"": ""Joe Gideon"", ""cr...","[{""credit_id"": ""52fe46f09251416c750888a1"", ""de..."
2556,6961,The Wedding Date,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",With the wedding of her younger sister fast ap...,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 1, ""character"": ""Kat Ellis"", ""cre...","[{""credit_id"": ""52fe446bc3a36847f8094ea1"", ""de..."

In [90]:
import ast
def converter(obj):
    l=[]
    for i in ast.literal_eval(obj):
        l.append(i['name'])
    return l

In [91]:
movies['genres'] = movies.genres.apply(converter)

In [92]:
movies['keywords'] = movies.keywords.apply(converter)

In [93]:
movies.sample(3)

,id,title,genres,overview,keywords,cast,crew
64,246655,X-Men: Apocalypse,[Science Fiction],After the re-emergence of the world's first mu...,"[mutant, supernatural powers, marvel comic, su...","[{""cast_id"": 14, ""character"": ""Professor Charl...","[{""credit_id"": ""56d0c8fdc3a3681e36006b60"", ""de..."
1696,9667,The Jacket,"[Drama, Mystery, Thriller, Fantasy]",A military veteran goes on a journey into the ...,"[smoking, medicine, psychology, hallucination,...","[{""cast_id"": 4, ""character"": ""Jack Starks"", ""c...","[{""credit_id"": ""52fe4518c3a36847f80bc3c1"", ""de..."
3617,13193,Saved!,"[Comedy, Drama]","Teenage Mary Cummings, who has ""been Born Agai...","[christianity, gay, coming out, independent fi...","[{""cast_id"": 1, ""character"": ""Mary"", ""credit_i...","[{""credit_id"": ""52fe454c9251416c75051cbd"", ""de..."

In [94]:


def cast(obj):
    l=[]
    for x ,i in enumerate(ast.literal_eval(obj)):
        l.append(i['name'])
        if x==2:
            break
    return l

In [95]:
movies['cast'] = movies.cast.apply(cast)

In [96]:

def director(di):
    l=[]
    for i in ast.literal_eval(di):
        if i['job']=='Director':
            l.append(i['name'])
    return l

In [97]:
movies['crew'] = movies['crew'].apply(director)

In [98]:
movies.rename(columns={'cast':'Actors','crew':'Director'}, inplace=True)

In [99]:
movies.dropna(inplace=True)

In [100]:
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(' ','') for  i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(' ','') for  i in x])
movies['Actors'] = movies['Actors'].apply(lambda x:[i.replace(' ','') for  i in x])
movies['Director'] = movies['Director'].apply(lambda x:[i.replace(' ','') for  i in x])

In [101]:
movies.sample(2)

,id,title,genres,overview,keywords,Actors,Director
3915,223485,Slow West,"[Romance, Thriller, Western]","In the Old West, a 17-year-old Scottish boy te...","[fire, bountyhunter, shotgun, horsebackriding,...","[MichaelFassbender, KodiSmit-McPhee, BenMendel...",[JohnMaclean]
1046,11130,The Princess Diaries 2: Royal Engagement,"[Comedy, Drama, Family, Romance]",Mia Thermopolis is now a college graduate and ...,"[coronation, duty, marriage, fallinginlove]","[AnneHathaway, JulieAndrews, HéctorElizondo]",[GarryMarshall]

In [102]:
movies['overview'] = movies['overview'].apply(lambda x: x.split())

In [103]:
movies.sample()

,id,title,genres,overview,keywords,Actors,Director
3181,8272,The Savages,[Drama],"[A, sister, and, brother, face, the, realities...","[fathersonrelationship, depression, parentskid...","[LauraLinney, PhilipSeymourHoffman, PhilipBosco]",[TamaraJenkins]

In [104]:
movies['tags'] = movies['genres'] + movies['keywords']+ movies['Actors'] + movies['Director']+movies['overview']

In [105]:
ndf = movies[['id','title','tags']]
ndf.head()

,id,title,tags
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction, c..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action, ocean, drugabuse,..."
2,206647,Spectre,"[Action, Adventure, Crime, spy, basedonnovel, ..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller, dccomics, cri..."
4,49529,John Carter,"[Action, Adventure, ScienceFiction, basedonnov..."

In [106]:
ndf['tags'] = ndf.tags.apply(lambda x: " ".join(x)).str.lower()

C:\Users\sachi\AppData\Local\Temp\ipykernel_21008\1756415255.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ndf['tags'] = ndf.tags.apply(lambda x: " ".join(x)).str.lower()

In [107]:
ndf.title = ndf.title.str.lower()

C:\Users\sachi\AppData\Local\Temp\ipykernel_21008\4084109357.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ndf.title = ndf.title.str.lower()

In [108]:
ndf.to_csv("cleaned.csv")

In [109]:
def recommend(movie):
    try:
        movie = movie.lower()
        movie_index = ndf[ndf['title'] == movie].index[0]
        distances = similarity[movie_index]
        top_5 = sorted(list(enumerate(distances)),reverse=True,key=lambda x: x[1])[1:6]

        return top_5    
    except:
        print('movie not found')

In [110]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [111]:
ndf = pd.read_csv(r"cleaned.csv")

In [112]:
cv = CountVectorizer(max_features=15000,stop_words='english')
vectors = cv.fit_transform(ndf['tags']).toarray()
similarity = cosine_similarity(vectors)

In [113]:
pd.DataFrame(similarity).to_csv('similarity')

In [114]:
similarity1 = pd.read_csv('similarity' ,index_col=0)
similarity1 = similarity1.to_numpy()

#####################

def recommend(movie):
    try:
        movie = movie.lower()
        movie_index = ndf[ndf['title'] == movie].index[0]
        distances = similarity1[movie_index]
        top_5 = sorted(list(enumerate(distances)),reverse=True,key=lambda x: x[1])[1:6]
        print(top_5)
        for i , j in top_5:
            print(ndf.iloc[i].title)
    except:
        print("given movies is not in list")
        
recommend('The Dark Knight Rises')

[(65, 0.3865535022448604), (119, 0.3116259848185405), (428, 0.306837993795203), (1361, 0.2855718590794251), (299, 0.2809372404604905)]
the dark knight
batman begins
batman returns
batman
batman forever