In [108]:
import pandas as pd 
import numpy as np
import nltk

In [109]:
credits_df = pd.read_csv(r"tmdb_5000_credits.csv")
movies_df = pd.read_csv(r'tmdb_5000_movies1.csv')

missing row
1-->homepage
2-->release
3-->runtime
4-->tagline

In [110]:
movies =movies_df.merge(credits_df,on="title")
movies.sample(3)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
2004,23000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 53, ""nam...",http://www.haywiremovie.com/,70435,"[{""id"": 3070, ""name"": ""mercenary""}, {""id"": 428...",en,Haywire,Mallory Kane is a highly trained operative who...,26.257951,"[{""name"": ""Irish Film Board"", ""id"": 5267}, {""n...",...,93.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,They left her no choice.,Haywire,5.6,505,70435,"[{""cast_id"": 6, ""character"": ""Mallory Kane"", ""...","[{""credit_id"": ""52fe47f8c3a368484e0e32c5"", ""de..."
3735,0,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 9648, ...",http://www.cargoderfilm.ch http://cargothemovi...,34069,"[{""id"": 3388, ""name"": ""space colony""}, {""id"": ...",de,Cargo,The story of CARGO takes place on rusty space-...,10.142218,"[{""name"": ""Telepool"", ""id"": 823}, {""name"": ""At...",...,120.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,NaN,Cargo,5.9,140,34069,"[{""cast_id"": 4, ""character"": ""Samuel Decker"", ...","[{""credit_id"": ""52fe454f9251416c9102e051"", ""de..."
535,55000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",NaN,6520,"[{""id"": 3966, ""name"": ""camelot""}, {""id"": 10466...",en,First Knight,The timeless tale of King Arthur and the legen...,19.143321,"[{""name"": ""Columbia Pictures Corporation"", ""id...",...,134.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Their greatest battle would be for her love.,First Knight,5.9,311,6520,"[{""cast_id"": 1, ""character"": ""King Arthur"", ""c...","[{""credit_id"": ""52fe4458c3a36847f8090709"", ""de..."

In [114]:
movies[movies.popularity.sort_values(ascending=False) > 434]['original_title']

C:\Users\Ankit Chaudhary\AppData\Local\Temp\ipykernel_5272\3742491105.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  movies[movies.popularity.sort_values(ascending=False) > 434]['original_title']

94     Guardians of the Galaxy
95                Interstellar
127         Mad Max: Fury Road
546                    Minions
788                   Deadpool
Name: original_title, dtype: object

# important colum for project
#genre
#keywords
#overview
#title
#cast
#crew

In [80]:
movies = movies[['id','title','genres','overview','keywords','cast','crew']]
movies.sample(3)

,id,title,genres,overview,keywords,cast,crew
40,49013,Cars 2,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...",Star race car Lightning McQueen and his pal Ma...,"[{""id"": 830, ""name"": ""car race""}, {""id"": 9663,...","[{""cast_id"": 4, ""character"": ""Lightning McQuee...","[{""credit_id"": ""52fe477fc3a36847f8139271"", ""de..."
320,855,Black Hawk Down,"[{""id"": 28, ""name"": ""Action""}, {""id"": 36, ""nam...",When U.S. Rangers and an elite Delta Force tea...,"[{""id"": 1968, ""name"": ""prisoners of war""}, {""i...","[{""cast_id"": 20, ""character"": ""SSgt. Matt Ever...","[{""credit_id"": ""52fe4282c3a36847f8024871"", ""de..."
4447,3170,Bambi,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 18, ""...",Bambi's tale unfolds from season to season as ...,"[{""id"": 5774, ""name"": ""forest""}, {""id"": 10683,...","[{""cast_id"": 9, ""character"": ""Young Bambi (voi...","[{""credit_id"": ""52fe438cc3a36847f805ca73"", ""de..."

In [81]:
import ast
def converter(obj):
    l=[]
    for i in ast.literal_eval(obj):
        l.append(i['name'])
    return l

In [82]:
movies['genres'] = movies.genres.apply(converter)

In [83]:
movies['keywords'] = movies.keywords.apply(converter)

In [84]:
movies.sample(3)

,id,title,genres,overview,keywords,cast,crew
4017,1687,Escape from the Planet of the Apes,"[Action, Science Fiction]",The world is shocked by the appearance of two ...,"[spacecraft, pacifism, human being, cage, dyst...","[{""cast_id"": 1, ""character"": ""Cornelius"", ""cre...","[{""credit_id"": ""52fe430cc3a36847f803689b"", ""de..."
2150,243,High Fidelity,"[Comedy, Drama, Romance, Music]",When record store owner Rob Gordon gets dumped...,"[chicago, music record, rock and roll, record ...","[{""cast_id"": 7, ""character"": ""Rob Gordon"", ""cr...","[{""credit_id"": ""52fe422cc3a36847f8009919"", ""de..."
4695,37985,The Trials Of Darryl Hunt,[Documentary],"""The Trials of Darryl Hunt"" is a feature docum...",[woman director],[],"[{""credit_id"": ""57b638a4c3a3685f5a000562"", ""de..."

In [85]:


def cast(obj):
    l=[]
    for x ,i in enumerate(ast.literal_eval(obj)):
        l.append(i['name'])
        if x==2:
            break
    return l

In [86]:
movies['cast'] = movies.cast.apply(cast)

In [87]:

def director(di):
    l=[]
    for i in ast.literal_eval(di):
        if i['job']=='Director':
            l.append(i['name'])
    return l

In [88]:
movies['crew'] = movies['crew'].apply(director)

In [89]:
movies.rename(columns={'cast':'Actors','crew':'Director'}, inplace=True)

In [90]:
movies.dropna(inplace=True)

In [91]:
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(' ','') for  i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(' ','') for  i in x])
movies['Actors'] = movies['Actors'].apply(lambda x:[i.replace(' ','') for  i in x])
movies['Director'] = movies['Director'].apply(lambda x:[i.replace(' ','') for  i in x])

In [92]:
movies.sample(2)

,id,title,genres,overview,keywords,Actors,Director
4249,72913,Amigo,"[Drama, History, War]","Rafael, a village mayor caught in the murderou...","[ambush, rebel, rain, village, arrest, friends...","[ChrisCooper, DJQualls, GarretDillahunt]",[JohnSayles]
651,196867,Annie,"[Comedy, Drama, Family]","Ever since her parents left her as a baby, lit...","[musical, orphan, fosterchild]","[QuvenzhanéWallis, JamieFoxx, RoseByrne]",[WillGluck]

In [93]:
movies['overview'] = movies['overview'].apply(lambda x: x.split())

In [94]:
movies.sample()

,id,title,genres,overview,keywords,Actors,Director
1894,34813,The Losers,"[Action, Adventure, Crime, Mystery, Thriller]","[A, tale, of, double, cross, and, revenge,, ce...","[hospital, blackops, referencetomacgyver, suck...","[JeffreyDeanMorgan, ZoeSaldana, ChrisEvans]",[SylvainWhite]

In [95]:
movies['tags'] = movies['genres'] + movies['keywords']+ movies['Actors'] + movies['Director']+movies['overview']

In [96]:
ndf = movies[['id','title','tags']]
ndf.head()

,id,title,tags
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction, c..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action, ocean, drugabuse,..."
2,206647,Spectre,"[Action, Adventure, Crime, spy, basedonnovel, ..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller, dccomics, cri..."
4,49529,John Carter,"[Action, Adventure, ScienceFiction, basedonnov..."

In [97]:
ndf['tags'] = ndf.tags.apply(lambda x: " ".join(x)).str.lower()

C:\Users\Ankit Chaudhary\AppData\Local\Temp\ipykernel_5272\1756415255.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ndf['tags'] = ndf.tags.apply(lambda x: " ".join(x)).str.lower()

In [98]:
ndf.title = ndf.title.str.lower()

C:\Users\Ankit Chaudhary\AppData\Local\Temp\ipykernel_5272\4084109357.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ndf.title = ndf.title.str.lower()

In [101]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [102]:
ndf = pd.read_csv("cleaned.csv")

In [103]:
cv = CountVectorizer(max_features=15000,stop_words='english')
vectors = cv.fit_transform(ndf['tags']).toarray()
similarity = cosine_similarity(vectors)

In [104]:
pd.DataFrame(similarity).to_csv('similarity')

In [106]:
similarity1 = pd.read_csv('similarity' ,index_col=0)
similarity1 = similarity1.to_numpy()

#####################

def recommend(movie):
    try:
        movie = movie.lower()
        movie_index = ndf[ndf['title'] == movie].index[0]
        distances = similarity1[movie_index]
        top_5 = sorted(list(enumerate(distances)),reverse=True,key=lambda x: x[1])[1:6]
        print(top_5)
        for i , j in top_5:
            print(ndf.iloc[i].title)
    except:
        print("given movies is not in list")
        
recommend('The Dark Knight Rises')

[(65, np.float64(0.3862436396682139)), (119, np.float64(0.3106303720986977)), (428, np.float64(0.3085764665956836)), (1361, np.float64(0.291937104060571)), (299, np.float64(0.2808218263205453))]
the dark knight
batman begins
batman returns
batman
batman forever